@import '_vars';
@import 'modules/_navbar';
@import 'modules/_users';
@import 'modules/_lightbox';

body {
    color: $main-color;
    background-color: $body-bg;
}

h1, h2, h3 { color: $heading-color }


// #to-top { position: fixed; bottom: 10px; right: 10px; display: none; }

// ----------MY SITE---------

.container 
{
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}


p 
{
  font-family: 'Muli', sans-serif; /*------Need to link------- */
}

h1, h2, h3
{
  font-family: 'Muli', sans-serif; /*------Need to link------- */
}

.hidden
{ 
  display: none; 
}

body
{
  background-color: $main-color;
  width: 100%;
} 

#logo
{
  height: 160px;
  width: 160px;
  position: absolute;
  margin-top: 55px;
  margin-left: 15px;
}

.me_tablet
{
  display: none;
}

.me_desk
{
  display: none;
}

#first_text_wrapper
{
  text-align: center;
}

#first_text
{  
  background-color: #FFFFFF;
  width: 85%;
  height: 250px;
  display: inline-block;
  margin-top: -62%;
  box-shadow: 0 15px 6px -6px rgb(129, 129, 129);
}

.line
{
  width: 80%;
  height: 2px;
  background-color: #AF8C74;
  display: inline-block;
  text-align: start;
}

#first_text h2
{
  color: #707070;
  font-size: 30px;
  font-style: bold;
  margin-bottom: 0px;
  margin-left: 30px;
  text-align: start;
  margin-top: 30px;
}

#first_text h3
{
  color: #707070;
  font-size: 18px;
  margin-bottom: 0px;
  margin-left: 30px;
  text-align: start;
}

.arrow
{
  opacity: 26%;
  margin-top: 30px;
  height: 25px;
  width: 25px;
}

#content_1
{
  text-align: center;
}

.tagline
{
  width: 100%;
  height: 145px;
  display: inline-block;
  margin-top: 50px;
}

.taglineText
{
  color: #707070;
  font-size: 23px;
  font-family: 'Muli', 
}

.line2
{
  width: 40%;
  height: 3px;
  background-color: #AF8C74;
  display: inline-block;
  margin-bottom: -4px;
}

.line3
{
  width: 40%;
  height: 3px;
  background-color: #AF8C74;
  display: inline-block;
}

#content_2
{
  text-align: center;
}

#skills_text
{
  font-size: 35px;
  color: #AF8C74;
}

.skillsBox
{
  width: 85%;
  height: 800px;
  background-color: white;
  display: inline-block;
  box-shadow: 0 15px 6px -6px rgb(129, 129, 129);
  margin-top: 30%;
  left: 8%;
  color: #707070;
  position: absolute;
  max-width: 980px;
}

#skills_infoDesk
{
  display: none;
}

#skills_info
{
  /* display: flex;
  flex-wrap: wrap; */
  font-size: 15px;
  width: 90%;
  left: 50%;
  line-height: 50px;
}

.space p
{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: start;
  transition: 0.25s ease;
}

.space p:hover
{
  color: #AF8C74;
}

.space
{
  justify-content: center;
  /* margin-left: 11%; */
  margin-left: auto;
}

.text1
{
  margin-left: 48px;
}

.text2
{
margin-left: 60%;
margin-top: -292px;
}

.text3
{
  margin-left: 48px;
  margin-top: -41px;
}

.text4
{
margin-left: 60%;
margin-top: -291px;
}


.skillsPhoto
{
  margin-bottom: -4%;
}

.plant
{
  height: 40%;
  width: 30%;
  transform: rotate(90deg);
  margin-top: -30px;
}

.arrow2
{
  opacity: 50%;
  margin-bottom: 10px;
  height: 50px;
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.line4
{
  width: 90%;
  height: 2px;
  background-color: #AF8C74;
  display: inline-block;
}

.content h2
{
  font-size: 19px;
  color: #AF8C74;
}

.content p
{
  font-size: 12px;
  text-align: start;
  color: #707070;
}

.portfolio_text
{
  text-align: center;
  color: #AF8C74;
}

#infoSquares
{
  margin-top: 270px;;
}

.square1Text, .square2Text, .square3Text
{
  width: 65%;
}

.square1Text h2, .square2Text h2, .square3Text h2
{
  text-align: start;
}

.content img
{
  object-fit: cover;  width: 100%;  height: 100%;
}


/* -----------INFO SQUARES--------------*/
.portfolio_text
{
  font-size: 28px;
}

.content
{
    background-color: #f8f8f8;
}

.square1, .square2, .square3
{
    display: block;
    text-align: center;
}
.square1Image, .square2Image, .square3Image
{
    width: 100%;
    height: 500px;
}

.square1Text, .square2Text, .square3Text
{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}

/* ------Video------ */

.videoDemo
{
  width: 100%;
  height: 250px;
}



/* ---------Form---------- */

.contactPhoto
{
  object-fit: cover;  
  width: 100%;  
  height: 615px;
  position: absolute;
}

.form
{
  width: 85%;
  height: auto; /*------change it back---------*/
  background-color: white;
  color: #707070;
  position: absolute;
  text-align: center;
  left: 9%;
  margin-top: 15%;
}

.form button 
{
  width: 50%;
  background-color: #AF8C74;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  margin-top: 10px;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  font-weight: 300;  
  color: #FFFFFF;
}

input[type=text], [type=email], select, textarea 
{
  width: 90%; 
  padding: 12px;  
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 16px; 
  resize: vertical; 
  border-width: 0px 0px 1px 0; 
  border-style: solid;
  border-color: #707070;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  font-weight: 300;  
}



.form h2
{
 font-size: 35px;
}

.footerBox
{
  width: 100%;
  height: 150px;
  background-color: #707070;
  margin-top: 618px;
  position: relative;
}

.footerBox img
{
  padding-top: 20px;
}


@media screen and (min-width: 640px) {

  #skills_info
  {
    display: none;
  }

  #skills_infoDesk
{
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  line-height: 50px;
  width: 91%;
}
.spaceDesk p
{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: start;
  transition: 0.25s ease;
  align-content: space-around;
}

.spaceDesk p:hover
{
  color: #AF8C74;
}

.spaceDesk
{
  justify-content: center;
  /* margin-left: 11%; */
  margin-left: auto;
}

.text1Desk
{
  margin-left: 90px;
}

  #logo
  {
    height: 300px;
    width: 300px;
    position: absolute;
    margin-top: 125px;
    margin-left: 25px;
  }

  .logoContainer
  {
    position: relative;
  }

  .me_mobile
  {
    display: none;
  }

  .me_tablet
  {
    display: block;
  }

  #first_text
{  
  height: 350px;
}

  #first_text h2
  {
    font-size: 50px;
    margin-top: 30px;
  }
  
  #first_text h3
  {
    color: #707070;
    font-size: 22px;
    margin-bottom: 0px;
    margin-left: 30px;
  }

  
  .arrow
  {
    opacity: 26%;
    margin-top: 24px;
    height: 50px;
    width: 50px;
  }

  .taglineText
  {
    font-size: 28px;
  }

  .line3
  {
    margin-bottom: 50px;
  }

  .skillsBox 
  {
    height: 600px;
  }

  .skillsPhoto
  {
    object-fit: cover;  width: 100%;  height: 950px;
  }

  .portfolio_text
  {
    font-size: 40px;
  }

  #infoSquares
  {
    margin-top: 80px;
  }

  .content h2
  {
    font-size: 25px;
  }

  .content p
  {
    font-size: 17px;
  }

  .videoDemo
  {
    height: 400px;
  }

}


@media screen and (min-width: 965px) {

  .nav
  {
    display: none;
  }

  .logo
  {
    display: none;
  }

  #logo
  {
    margin-top: -280px;
    position: absolute;
    transition: 1.2s ease;
    position: absolute;
    left: 35%;
  }

  .logoContainer
  {
    position: absolute;
  }

  # logo
  {
    height: 200px;
    width: 200px;
    position: absolute;
    /* margin-top: -1px;
    margin-left: 374px; */
    margin-top: -5px;
    left: 40%;
  }

    .me_desk
    {
      display: block;
    } 

    .me_tablet
    {
      display: none;
    } 


    #first_text
    {  
      height: 250px;
      width: 540px;
      position: relative;
      top: 120%;
    }
    
      #first_text h2
      {
        font-size: 45px;
        margin-top: 30px;
      }

      #first_text h3
      {
        color: #707070;
        font-size: 18px;
        margin-bottom: 0px;
        margin-left: 30px;
      }

    .content
    {
      display: flex;
      flex-direction: row;
    }

    .portfolio_text
    {
      font-size: 50px;
    }

    .square2
    {
        display: none;
    }

    .square2Desktop
    {
        display: contents;
    }

    .square1, .square2Desktop, .square3
    {
        display: flex;
        flex-direction: row;
    }
    .square1Image, .square2Image, .square3Image
    {
        width: 50%;
        height: 500px;
    }
    
    .square1Text, .square2Text, .square3Text
    {
        width: 40%;
        height: 500px;
    }

  .form
  {
  width: 50%;
  height: auto;
  background-color: white;
  color: #707070;
  position: absolute;
  text-align: center;
  left: 9%;
  margin-top: 8%;
  }
  }

  @media screen and (min-width: 1200px) {

    /* .skills
    {
      position: absolute;
    } */

    .skillsBox
    {
      margin-left: 1%;
      margin-top: 10%;
    }

    .plant 
    {
      height: 23%;
      width: 17%;
      margin-top: -30px;
  }



  }






@import 'modules/_footer'
