<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <title>Adam Goarley</title>
</head>

<body>
  <div class="container">

      <main>
      
          <header>
            <div id="header">
              <h1 class="hidden">Adam Goarley</h1>
              <div class="logoContainer">
                  <img src="../images/logo(color).svg" alt="" height="100%" width="100%" id="logo">
              </div>
              
              <img src="../images/me_mobile.jpg" alt="" height="auto" width="100%" class="me_mobile">
              <img src="../images/me_tablet.jpg" alt="" height="auto" width="100%" class="me_tablet">
              <img src="../images/me_desktop.jpg" alt="" height="auto" width="100%" class="me_desk">

              <div id="first_text_wrapper">
                  <div id="first_text">
                    <h2>Adam Goarley</h2>
                    <div class="line"></div>
                     <h3 class="firstText">I am a web designer, photographer, and videographer based in London Ontario, Canada.</h3>
                      <img src="../images/arrow.svg" alt="" height="100%" width="100%" class="arrow">
                  </div>
              </div>
      
            </div>
          </header>

          <section id="content_1">

            <div class="tagline">
                <div class="line2"></div>
                <h2 class="taglineText">Let me bring your ideas to life.</h2>
                <div class="line3"></div>
            </div>

          </section>

          <section id="content_2">

              <div class="skills">
                  <img src="../images/skills_mobile.jpg" alt="" height="auto" width="100%" class="skillsPhoto">

                  

                  <div class="skillsBox">

                    <h2 id="skills_text">SKILLS</h2>

                    <div id="skills_info">
                        <div class="text1 space">
                            <p>HTML5 <br> CSS3 <br> Javascript <br> PHP <br> MySQL</p>
                        </div>
    
                        <div class="text2 space">
                            <p>Photoshop <br> Illustrator <br> Adobe XD <br> Premier Pro <br> Lightroom</p>
                        </div>
    
                        <div class="text3 space">
                            <p>After Effects <br> Illustrator <br> InDesign <br> Premier Pro <br> GitHub</p>
                        </div>
    
                        <div class="text4 space">
                            <p>Audition <br> Cinema 4D <br> Videography <br> Photography <br> Drone Operation</p>
                        </div>
                    </div>

                  </div>
              </div>
  
          </section>

          <section id="infoSquares">
            <h2 class="hidden">Info Squares</h2>
    
        <div class="square1 content">
            
            <div class="square1Text">
                <h2>TRAA Site and Brand Rebuild</h2>
                <div class="line4"></div>
                <p>Thames river anglers association<br>The goal was to make the site and brand more<br>modern and give the TRAA a more professional look.</p>
            </div>
    
            <div class="square1Image">
                <img src="../images/traa.png" alt="" height="500px" width="100%">
            </div>
        </div>
    
        <div class="square2 content">
                <div class="square2Text">
                    <h2>Icon Crazy Site Design & Build</h2>
                    <div class="line4"></div>
                    <p>Available tracking on mobile, tablet and desktop.<br>Download our app today! Available on iOS and android.</p>
                </div>
    
                <div class="square2Image">
                    <img src="../images/svg_site.png" alt="" height="500px" width="100%">
                </div>
    
        </div>
    
        <div class=" hidden square2Desktop content">
    
                <div class="square2Image">
                    <img src="../images/svg_site.png" alt="" height="500px" width="100%">
                </div>
                
                <div class="square2Text">
                    <h2>Icon Crazy Site Design & Build</h2>
                    <div class="line4"></div>
                    <p>Available tracking on mobile, tablet and desktop.<br>Download our app today! Available on iOS and android.</p>
                </div>
    
        </div>
    
        <div class="square3 content">
                <div class="square3Text">
                    <h2>Equipment</h2>
                    <div class="line4"></div>
                    <p>Thermosecurity device runs on cellular connection<br>with built in WiFi and Bluetooth backup. Plus, powerful<br>encryption against hackers.</p>
                </div>
    
                <div class="square3Image">
                    <img src="../images/traa.png" alt="" height="500px" width="100%">
                </div>
    
        </div>
    
      </section>

      <section id="video">
        <div class="videoDemo">

        </div>
      </section>

      <section id="contact">
          <div class="contactSection">
              <img src="../images/drone_mobile.jpg" alt="" height="1000px" width="100%">
              <div class="form"></div>
          </div>
      </section>

      <section id="footer">
          <div class="footerBox">
              <img src="../images/logo(white).svg" alt="" height="100px" width="100%">
          </div>
      </section>

        </main>

  </div>

    
</body>
  <script src="js/main.js"></script>
</html>